<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarsRazor</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarsRazor.styles.css" asp-append-version="true" />
</head>
<body>

    <header>

        @* Top of site *@
        <div class="main-header">
            @* Logo *@
            <img src="~/friberg_logo.png" id="main-logo" />
            @* Page title *@
            <h1>Friberg Car Rentals</h1>
        </div>
        <nav>
            <div class="top-site-nav">
                <a class="nav-links" asp-area="" asp-page="/Index">Home</a>

                <a class="nav-links" asp-area="" asp-page="/Cars/CarIndex">Our cars</a>

                
                <a class="nav-links" asp-area="" asp-page="/Bookings/CustomerLogin">Customer login</a>

                <a class="nav-links" asp-area="" asp-page="/Admins/AdminLogin">Admin login</a>
                
          
           @*  <div id="logout">
                <a class="nav-links" asp-area="" asp-page="/../../Index">Logout</a>

            </div> *@
            @*     <a class="nav-links" asp-area="" asp-page="/Customers/Index">Customers</a>

                <a class="nav-links" asp-area="" asp-page="/Bookings/Index">Bookings</a> *@
            </div>


        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="site-footer">
            &copy; 2024 - FribergCars
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>