@page
@model FribergCarsRazor.Pages.Shared.IndexModel
@{
    <div>
        <h1>Welcome to Friberg Car Rentals!</h1>
        <p>

            Please navigate by using the links above.


        </p>

    </div>


}
