@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.Customer.CustomerId" name="Booking.Customer.CustomerId" />

            <select name="Booking.Car.CarId" asp-for="Booking.Car.CarId" asp-items="@(new SelectList(Model.CarList, "CarId", "CarName" ))">
                <option value="">Select car</option>
              

            </select>

            <div class="form-group">
                <label asp-for="Booking.StartDate" class="control-label"></label>
                <input asp-for="Booking.StartDate" class="form-control" />
                <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EndDate" class="control-label"></label>
                <input asp-for="Booking.EndDate" class="form-control" />
                <span asp-validation-for="Booking.EndDate" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <input type="submit" value="Create booking" class="btn btn-primary" />
            </div> *@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   @*  @functions {

        private int GetCustomerIdFromCookie()
        {

            int customerId = Convert.ToInt32(Request.Cookies["User"]); ;

            return customerId;
        }
    }

    <a asp-page="./CustomerLoggedIn" asp-route-id="@GetCustomerIdFromCookie()">Back to List</a> *@



    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
