@page
@model FribergCarsRazor.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Book car</h1>

<h4>Choose car and desired date below.</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.Customer.CustomerId" name="Booking.Customer.CustomerId" />

            <select name="Booking.Car.CarId" asp-for="Booking.Car.CarId" asp-items="@(new SelectList(Model.CarList, "CarId", "CarName" ))">
                <option value="">Select car</option>
                <option></option>
            </select>
            <div class="form-group">
                <label asp-for="Booking.StartDate" class="control-label"></label>
                <input asp-for="Booking.StartDate" class="form-control" />
                <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EndDate" class="control-label"></label>
                <input asp-for="Booking.EndDate" class="form-control" />
                <span asp-validation-for="Booking.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create booking" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="CustomerLoggedIn" class="link-button">Go back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
